 {{#if listExists}}
    <table class="table table-light">
    <thead>
      <tr>
        <th scope="col" class="titulos">Title</th>
        <th scope="col" class="titulos">Price</th>
        <th scope="col" class="titulos">Thumbnail</th>
      </tr>
    </thead>
    <tbody>
    {{#each listaProductos}}
      {{> tablaProds}}
    {{/each}}
    </tbody>
    </table>
{{/if}}

 {{#if error}}
      {{> noProducts}}
{{/if}}