 {{#if listaProductos}}
    <table class="table table-light">
    <h2 class="mt-3 mb-3 pl-3">Lista de Productos</h2>
    <thead>
      <tr>
        <th scope="col" class="titulos">Title</th>
        <th scope="col" class="titulos">Price</th>
        <th scope="col" class="titulos">Thumbnail</th>
      </tr>
    </thead>
    <tbody>
    {{#each listaProductos}}
      <tr>
        <td class="dato">{{title}}</td>
        <td class="dato">${{price}}</td>
        <td>
          <img class="thumbnail" src={{thumbnail}} />
        </td>
      </tr>
    {{/each}}
    </tbody>
    </table>
{{else}}  
    <div class="alert alert-warning" role="alert">
      <h3>"No hay productos!"</h3>
    </div>  
{{/if}} 

 