 {{#if listExists}}
    <table class="table table-light">
    <thead>
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Price</th>
        <th scope="col">Thumbnail</th>
      </tr>
    </thead>
    {{#each listaProductos}}
      {{> tablaProds}}
    {{/each}}
    </table>
{{/if}}

 {{#if error}}
      {{> noProducts}}
{{/if}}